/* @font-face {
  font-family: "Pretendard-Black.otf";
  src: url(./Pretendard-Black.otf);
}

@font-face {
  font-family: "Pretendard-Bold.otf";
  src: url(./Pretendard-Bold.otf);
}

@font-face {
  font-family: "Pretendard-Medium.otf";
  src: url(./Pretendard-Medium.otf);
}

@font-face {
  font-family: "Pretendard-Light.otf";
  src: url(./Pretendard-Light.otf);
} */
