:root {
  --stroke: #9b9b9b;
  --primary: #bed7dc;
  --button: #597e52;
  --secondary: #f8f4ea;
  --tertiery: #51829b;

  --pure-black: #000000;
  --pure-white: #ffffff;
  --button-text: #fafafa;
}

/* .App {
} */

.page {
  /* margin-top: 38px; */
  margin-left: 96px;
  margin-right: 96px;
  /* margin-bottom: 320px; */
}
